<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <properties>
        <property name="pattern">%d{DEFAULT} [%t] %pid %-5level %logger{36} - %msg%n</property>
    </properties>
    <appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="log/test-execution.log" filePattern="build/logs/tests-%d{MM-dd-yy-HH-mm-ss}-%i.log.gz">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="50 MB"/>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="all">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFile"/>
        </root>
    </loggers>
</configuration>